@import "../../helpers";
.sf-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: var(--overlay-z-index, 1);
  background: var(--overlay-background, rgba(var(--c-gray-base), 0.7));
}
